<html>
<head>
    <title>Node Crud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div style="align-items: center;justify-content: center;display: flex; text-align: center">
    <h1>List of Users</h1>
</div>

<div style="align-items: center;justify-content: center;display: flex;">
    <div style="width: 50%;display: flex">
    <input class="form-control" placeholder="Search" id="search" name="search">
    <a class="btn btn-primary" href=" " onclick="this.href='/search/'+(document.getElementById('search').value ? document.getElementById('search').value : null) ">Search</a>
    </div>
</div>
<div style="align-items: center;justify-content: center;display: flex;margin-top: 10px">
    <table style="border: 1px solid black;">
        <tr style="border: 1px solid black;">
            <th style="border: 1px solid black;padding: 10px">ID</th>
            <th style="border: 1px solid black;padding: 10px">Name</th>
            <th style="border: 1px solid black;padding: 10px">Username</th>
            <th style="border: 1px solid black;padding: 10px">Update</th>
            <th style="border: 1px solid black;padding: 10px">Delete</th>
        </tr>
        <% for (var i = 0; i < users.length; i++){ %>
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;padding: 10px"><%= users[i]._id %></td>
                <td style="border: 1px solid black;padding: 10px"><%= users[i].name %></td>
                <td style="border: 1px solid black;padding: 10px"><%= users[i].username %></td>
                <td style="border: 1px solid black;padding: 10px">
                    <a class="btn btn-info" href="/update/<%= users[i].username%>">Update</a>
                </td>
                <td style="border: 1px solid black;padding: 10px">
                    <a class="btn btn-danger" href="/delete/<%= users[i].username%>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table><br>

</div>
<a href="/" style="text-align: center;justify-content: center;align-items: center;display: flex;margin-top: 10px">Create User</a>
</body>
</html>
