<html>
<head>
    <title>Node Crud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div style="align-items: center;justify-content: center;display: flex">
    <h1>Add New User</h1>
</div>
<div style="align-items: center;justify-content: center;display: flex">
    <form action="/create" method="POST">
        <input type="text" placeholder="Name" name="name" class="form-control" required><br>
        <input type="text" placeholder="Username" name="username" class="form-control" required><br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/list" style="margin-left: 90px">View All</a>
    </form>
</div>
</body>
</html>
