<html>
<head>
    <title>Node Crud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<h1>Update <%= user.name%></h1>
<div style="width: 50%; justify-content: center;align-items: center; display: flex">
    <form action="/modify" method="POST">
        <input type="text" placeholder="Name" name="name" class="form-control" value="<%= user.name%>" required><br>
        <input type="text" placeholder="Username" name="username" class="form-control" readonly value="<%= user.username%>"><br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/list" style="margin-left: 90px">View All</a>
    </form>
</div>
</body>
